@import "/src/styles/variables";

#root {
  height: 100%;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background-image: url("/images/wallpaperflare.com_wallpaper.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  user-select: none;
}

.console {
  height: 100%;
  width: 520px;
  background-color: $primary;
  box-shadow: 0 0 30px black;
}
